$space-blue-100: #01153c;

$teal-blue-25: #c1e5ec;
$teal-blue-50: #83cbda;
$teal-blue-100: #0898b5;

$primary-blue-10: #ebf3ff;
$primary-blue-25: #cde1ff;
$primary-blue-50: #9bc3ff;
$primary-blue-100: #3687ff;

$gray-25: #bdbdbd;
$gray-50: #757575;
$gray-100: #212121;
